html{
    background-color: #f8f9fa;
}
*{
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}
/*========================HEADER========================*/
header{
    background: 1348px 96px;
    background-color: #f8f9fa;
    padding: .5rem 1rem;
    display: flex;
    width: 100%;
    /*================Căn nội dung ở giữa background================*/
    align-items: center;
    position: fixed;
}
.logo img{
    height: 70px;
}
.header-menu ul{
    list-style: none;    
    flex-direction: row;
    font-weight: bold;
}
.header-menu ul li{
    display: inline-block;
    padding: 0 10px;
}
.header-menu ul li a{
    color: black;
    font-size: 17px;
    text-decoration: none;
    
}
.header-menu ul li a:hover{
    text-decoration: underline #000;

}
.search{
    padding-left: 30px;
    position: relative;
}
.search .text-search{
    width: 150px;
    height: 19px;
    color: rgba(61, 73, 69, 0.384);
    border-radius: 15px;
    border-color: transparent;
    padding-left: 10px;
    background: transparent;
    outline: none;
}
.search .search-btn{
    width: 20px;
    height: 20px;
    border: none;
    position: absolute;
    right: 15px;
    top: 2px;

}
.search button{
    background-color: transparent;
}


/*=================CONTENT================*/
.banner img{
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
}
/*====================FOOTER================*/
.lam{
    background-color: #192041;
    width: 100%;
    height: 430px;
    color: white;
    box-sizing: border-box;
    padding: 15px;
}
.footer-content{
    display: flex;
    flex-wrap: nowrap;
    
    justify-content: center;
}
.diachi{
    display: flex;
    flex-direction: row;
}

.footer-logo img{
    height: 80px;
    padding-right: 150px;
}
.HNCTDN{
    line-height: 30px;
}
.HCMTN{
    line-height: 30px;
    padding-left: 2rem;
}
.cont-content h6{
    color: orange;
    font-weight: normal;
}

h4{
    font-size: 1.5rem;
}

h6{
    font-size: 1rem;
    text-decoration:underline;
}

p{
    font-size: 13px;
 
}
.information{
    line-height: 30px;
}

/*====================================*/
